@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mullish";
  src: url("/public/fonts/Mulish-VariableFont_wght.ttf") format("ttf");
}

body {
  margin: 0;
  font-family: Mullish, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  max-width: min(1200px, 100vw);
  width: 100%;
  margin: 0px auto;
}
